/* CCS para GOOGLE HOMEPAGE*/

/* barra de navegacion */
.navbar {
    position: absolute;
    top: 0;
    border:;
    width: 100%;
    font: 13px arial, sans-serif;
}

.navbar ul {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}

/* boton signin */
#signin {
    margin-top: 10px;
    margin-right: 50px;
    padding: 7px 10px 7px 10px;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

/* todos los botones */
button {
    border: none;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    color: rgb(105 105 105);
    background-color: #F2F2F2;
    border-radius: 3px;
}
button:hover {
    border: 1px solid rgb(210 210 210);
    color: black;
}

/* area MAIN */
main {
    position: absolute;
    width: 100%;
    top: 150px;
}

/* logo de google */
.logo {
    text-align: center;
    height: 92px;
    width: 272px;
    display: block;
    margin: 0px auto 30px;
}

/* barra de busqueda */
#busqueda {
    text-align: center;
}
#cuadroBusq {
    width: 582px;
    height: 44px;
    margin: auto;
    margin-bottom: 10px;
    padding: 0px 0px;
    border: 1px rgb(210 210 210) solid;
    border-radius: 30px 30px 30px 30px;
}
#cuadroBusq:hover {
    box-shadow: 0px 1px 4px 4px #F2F2F2;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    font: 14px arial, sans-serif;    
}