/* estilo CCS para GOOGLE HOMEPAGE*/

/* barra de navegacion */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li{
    float: left;;
    border-right: 1px solid #bbb;
}

/* ultimo elemento de la barra */
li:last-child {
    border-right: none;
}

/* estilo para cada elemento */
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
}

/* estilo para cuando pasa el mouse */
li a:hover {
    background-color: #111;
    color: white;
}

/* tab activa */
.active {
    background-color: #4CAF50;
    color: white;
}

/*logo de google */
.google-logo {
    text-align: center;
    margin-top: 100px;
}